.section-specialty {


    height    : 330px;
    background: rgb(231, 223, 223);

    .specialty-container {
        margin        : 0 100px;
        display       : flex;
        flex-direction: column;

        .specialty-header {
            height       : 60px;
            margin-bottom: 30px;
            padding-top  : 30px;

            .title-section {
                font-size  : 22px;
                font-weight: 600;
            }

            .btn-section {
                float     : right;
                padding   : 10px 15px;
                border    : none;
                outline   : none;
                display   : block;
                background: #ebebeb;
                color     : black;
                cursor    : pointer;

                &:hover {
                    color     : white;
                    background: #f7d800;
                }
            }
        }

        .specialty-body {

            .specialty-customize {
                .bg-image {
                    height             : 150px;
                    width              : 278px;
                    background         : url('../../../assets/images/co-xuong-khop.jpg');
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                }
            }

            // reset slick css 
            .slick-prev {
                left      : -10px !important;
                z-index   : 1000 !important;
                height    : 40px !important;
                width     : 40px !important;
                background: white !important;
                border    : 2px solid #d7d7d7 !important;

                &:hover {
                    background: #e6e6e6 !important;
                }
            }

            .slick-prev::before,
            .slick-next::before {
                // content: "\e257" !important;
                font-family: FontAweSome !important;
                color      : red !important;
            }

            .slick-next {
                right     : -10px !important;
                z-index   : 1000 !important;
                height    : 40px !important;
                width     : 40px !important;
                background: white !important;
                border    : 2px solid #d7d7d7 !important;

                &:hover {
                    background: #e6e6e6 !important;
                }
            }
        }
    }


}